@use "variables" as *;

/********************************
        Helpers
*********************************/

.section--header-underline {
    text-align: center;
    margin-bottom: 1rem;

    .section__title {
        & {
            position: relative;
            font-size: 60px;
            text-transform: uppercase;
            font-family: 'JosefinSans', sans-serif;
            letter-spacing: 3px;
            color: $white;
        }
    }
}

@media(max-width: $tablet) {
    .section--header-underline {
        .section__title {
            font-size: 22px;
        }
    }
}


/********************************
    Helper Classes
*********************************/
.hidden {
    display: none;
}