@use "./variables" as *;
@use "./helper" as *;

/************************************
    Basic Styling
***********************************/

body {
    & {
        min-width: 320px;
        overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
        background-color: $white;
        color: $grey;
        font-size: 14px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 400;
        line-height: 1.5;
        color: inherit;
    }

    .h1,
    h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .h2,
    h2 {
        font-size: 2rem;
    }

    .h3,
    h3 {
        font-size: 1.35rem;
    }

    .h4,
    h4 {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .h5,
    h5 {
        font-size: 1rem;
    }

    .h6,
    h6 {
        font-size: .875rem;
    }

    p {
        opacity: 1 !important;
        line-height: 1.8;
    }

    .container--small {
        max-width: 800px;
    }


    .container-extended {
        max-width: 95%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .section-header h2 {
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 16px;
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: .2s all linear;
    }
}

/************************************
    Basic Styling Mobile
***********************************/

@media(max-width: $mobile) {
    body {

        .h1,
        h1 {
            font-size: 2rem;
            font-weight: 500;
        }

        .h2,
        h2 {
            font-size: 1.4rem;
        }

        .h3,
        h3 {
            font-size: 1.1rem;
        }

        .h4,
        h4 {
            font-size: 1em;
            font-weight: 500;
        }

        .h5,
        h5 {
            font-size: .7rem;
        }

        .h6,
        h6 {
            font-size: .6rem;
        }
    }
}

.ico {
    fill: $white;
}

/************************************
    List Socials
***********************************/

.list-socials {
    & {
        position: fixed;
        left: 20px;
        bottom: 30px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        margin: 0 .5rem;
    }

    a {
        display: inline-block;
        text-decoration: none;
        transition: transform .4s ease-in;
    }

    a:hover {
        transform: scale(1.1);
    }
}

@media(max-width: $mobile) {
    .list-socials {
        & {
            left: 10px;
        }

        li {
            margin: 0 .3rem;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}