/************************************
  Header
***********************************/

.header {
    & {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: 14px 30px;
    }

    &.fixed {
        position: fixed;
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
        background-color: rgba(34, 34, 34, 0.95);
    }

    .nav-mobile {
        display: none;
    }

    .logo {
        display: inline-block;
        max-width: 100px;
    }
}

@media(max-width: $tablet) {
    .header {
        & {
            padding: 10px 30px;
        }

        .logo {
            max-width: 60px;
        }

        .nav-mobile {
            & {
                display: block;
            }

            .burger {
                height: 30px;
                width: 26px;
                position: absolute;
                top: 5px;
                right: 21px;
                cursor: pointer;
            }

            .x,
            .y,
            .z {
                position: absolute;
                margin: auto;
                top: 0px;
                bottom: 0px;
                background: $white;
                border-radius: 2px;
                transition: all 200ms ease-out;
            }

            .x,
            .y,
            .z {
                height: 3px;
                width: 26px;
            }

            .y {
                top: 18px;
            }

            .z {
                top: 37px;
            }

            .collapse {
                top: 20px;
                background: $space;
                transition: all 70ms ease-out;
            }


            .rotate30 {
                transform: rotate(30deg);
                transition: all 50ms ease-out;
            }

            .rotate150 {
                transform: rotate(150deg);
                transition: all 50ms ease-out;
            }

            .rotate45 {
                transform: rotate(45deg);
                transition: all 100ms ease-out;
            }

            .rotate135 {
                transform: rotate(135deg);
                transition: all 100ms ease-out;
            }

            .circle {
                border-radius: 50%;
                width: 0px;
                height: 0px;
                position: absolute;
                top: 35px;
                right: 36px;
                background: $white;
                opacity: 1;
                transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            }

            .circle.expand {
                width: 1200px;
                height: 1200px;
                top: -100px;
                right: -300px;
                transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

            }

            .menu {
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
            }

            .menu ul li {
                list-style: none;
                position: absolute;
                top: 50px;
                left: 0;
                opacity: 0;
                width: 100%;
                text-align: center;
                font-size: 0px;
                transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            }

            .menu ul li a {
                color: $black;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 3px;
            }

            .menu.animate li {
                font-size: 21px;
                opacity: 1;
                transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            }

            .menu.animate li:nth-of-type(1) {
                top: 120px;
                transition-delay: 0.0s;
            }

            .menu.animate li:nth-of-type(2) {
                top: 190px;
                transition-delay: 0.03s;

            }

            .menu.animate li:nth-of-type(3) {
                top: 260px;
                transition-delay: 0.06s;

            }

            .menu.animate li:nth-of-type(4) {
                top: 330px;
                transition-delay: 0.09s;

            }

            .menu.animate li:nth-of-type(5) {
                top: 400px;
                transition-delay: 0.12s;

            }

            .menu.animate li:nth-of-type(6) {
                top: 470px;
                transition-delay: 0.15s;
            }
        }
    }
}