/************************************
  Intro
***********************************/

.intro {
    & {
        position: relative;
        min-height: 100vh;
        @include section-background-image;
    }
}

@media(max-width: $tablet) {
    .intro {
        & {
            min-height: 800px;
        }
    }
}

/************************************
  Nav Main
***********************************/
.nav-main {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;

    >div {
        height: 100%;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }

    li {
        position: relative;
        display: block;
        height: 100%;
        width: 8.3%;
        @include section-background-image;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        transition: all .5s ease;
    }

    a.current {
        background-color: rgba(180, 110, 60, 0.7);
    }

    a {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    li:hover {
        width: 38%;
    }

    .nav__number {
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 40px;
        top: 30px;
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 60px;
    }

    .nav__title {
        position: absolute;
        bottom: 50px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        white-space: nowrap;
        letter-spacing: 3px;
        transition: all .4s ease;
        transform: rotate(-90deg);
        font-size: 36px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
        width: 60px;
    }

    &.fixed {
        position: fixed;
        z-index: 100;
        height: 100px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav__number {
            position: static;
            color: rgba(255, 255, 255, 0.2);
        }

        .nav__title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: rotate(0);
            bottom: 0;
            right: 0;
            margin: auto;
            text-align: center;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
        }
    }
}

@media(max-width: $tablet-portrait) {
    .nav-main {
        li {
            width: 12%;
        }
    }
}

@media(max-width: $tablet) {
    .nav-main {
        & {
            display: none;
        }
    }
}